body,h1,h2,h3,h4,h5,h6,p{font-family:'Work Sans', sans-serif;}

.header-section {
	background-color: #fff;
	padding: 10px 5px;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}
.header-section img {
	width: 50px;
	margin-right: 10px;
}

.menu{}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;    

    }
.menu ul li a:hover{}

.banner-section {
	background-image: url(./mbr-10.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 145px 0;
    position: relative;
    z-index: 1;
}
.banner-section::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(7, 7, 7,.5);
    z-index: -1;
}
.banner-section button {
	padding: 14px 66px;
	font-weight: bold;
    background-color: #5ba533 !important;
}
.f {
	padding: 16px 0;
}
.activity-section{
    background-color: #f7f9ff;
}
.feature-section{}
.feature-item{
    height: 300px;
    box-shadow:  2.5px 4.33px 30px 0 rgba(64,87,191,0.1);;
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    
    
}
.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -135px ;
    border-radius: 5px 0 0 5px;
}
.right-test{
    width: 60%;
    padding: 20px;
}

.testimonial-section{
    background-color: #f7f9ff;
}
.testimonial-item{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    width: 31.333% !important;
}
.testimonial-section ul{
    list-style: none;
}
.testimonial-section button{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    border: none;
    color: #6278df;
}
.testimonial-section ul li span {
	color: #6278df;
	margin-right: 13px;
	font-size: 25px;
	font-weight: bold;
}
.dd{
    margin-left: -45px;
    
}
.feedback-section .i {
	color: #f0f0f0;
	font-size: 70px;
}
.feedback-section img{width: 100px;}

.img-item {
	position: relative;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
	margin-top: 120px;
    width: 23% !important;
    
}
.img-item img {
	position: absolute;
	width: 120px;
	bottom: 18.5rem;
	left: 1rem;
	border-radius: 50%;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}

.h{
	box-shadow: 1px 4px 6px #9d9da1;
	text-decoration: none;
	color: #000;
}
.team-section{
    background-color: #f7f9ff;
}
form{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
form .btn{
	background-color: #6278df;
	color:#fff;
	margin: auto;
}

.get-section .btn1{
    background: none;
    border-color: #5ba533;
    color: #5ba533;
}

.get-section .btn2{
    background-color: #5ba533;
    border-color: #5ba533;
    color: #ffffff;
    box-shadow: 3px 3px 27px -3px #5ba533;

}
footer{
    background-color: #f7f9ff;
    color: #000;
}